@charset "utf-8";


.header {
    width: 100%;
    height: 90px;
    max-height: 90px;
    background: #181510;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 5;
   transition: 2s ease-in-out;
}

.header.animate{
    -webkit-transform: translate(0, -985%);
}

.header .line {
    width: 100%;
    height: 9px;
    background: url(../img/gold_line.png) no-repeat 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    
}

.header .hMenu {
    width: 100%;
    max-width: 1200px;
    height: 90px;
    background: #181510;
    margin: 0 auto;
}

.header .hMenu .left {
    width: 35%;
    height: 90px;
    float: left;


}

.header .hMenu .left ul li a{
    float: left;
    color: #cbb682;
    margin-right: 10%;
    margin-top: 55px;
    
}

.header .hMenu .logo {
    width: 30%;
    height: 90px;
    float: left;
    /*border: 1px solid;
    box-sizing: border-box;*/
    background: url('../img/hotel_font_center.png') no-repeat 50%;
    background-size: 300px 150px;

}

.header .hMenu .right {
    width: 35%;
    height: 90px;
    float: left;
}

.header .hMenu .right .upSide {
    width: 100%;
    height: 45px;
    /*background: #ccc;*/
}

.header .hMenu .right .downSide {
    width: 100%;
    height: 45px;
    /*background: #555;*/
}

.header .hMenu .right .upSide ul li a{
    float: right;
    color: #cbb682;
    font-size: 13px;
    margin-right: 10%;
    margin-top: 5px;
    
}

.header .hMenu .right .downSide ul li a{
    float: right;
    color: #cbb682;
    margin-right: 10%;
    margin-top: 10px;

}
