@charset "utf-8";

#wrap {
    width: 100%;
    height: auto;
    /*border: 1px solid;*/
    margin: 0 auto;
    font-family: "맑은 고딕";
}
#contents {
    width: 1200px;
    height: 1000px;
    /*border: 1px solid;*/
    margin: 0 auto;
    color: #181510;
}

/*header시작*/
.header {
    width: 100%;
    height: 90px;
    max-height: 90px;
    background: #181510;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
}
.header .line {
    width: 100%;
    height: 9px;
    background: url(../img/gold_line.png) no-repeat 50%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.header .hMenu {
    width: 1200px;
    height: 90px;
    background: #181510;
    margin: 0 auto;
}
.header .hMenu .left {
    width: 35%;
    height: 90px;
    float: left;
}
.header .hMenu .left ul li a{
    float: left;
    color: #cbb682;
    margin-right: 10%;
    margin-top: 55px;
}
.header .hMenu .logo {
    width: 30%;
    height: 90px;
    float: left;
    /*border: 1px solid;
    box-sizing: border-box;*/
    background: url('../img/hotel_font_center.png') no-repeat 50%;
    background-size: 300px 150px;
}
.header .hMenu .right {
    width: 35%;
    height: 90px;
    float: left;
}
.header .hMenu .right .upSide {
    width: 100%;
    height: 45px;
    /*background: #ccc;*/
}
.header .hMenu .right .downSide {
    width: 100%;
    height: 45px;
    /*background: #555;*/
}
.header .hMenu .right .upSide ul li a{
    float: right;
    color: #cbb682;
    font-size: 13px;
    margin-right: 10%;
    margin-top: 5px;
}

.header .hMenu .right .downSide ul li a{
    float: right;
    color: #cbb682;
    margin-right: 10%;
    margin-top: 10px;

}


/*nav시작*/
nav {
    display: block;
    margin: 200px auto 100px;
}
nav span.txtLeft {
    display: block;
    float: left;
    font-size: 25px;
    margin-left: 50px;
    
}
nav span.txtRight {
    display: block;
    text-align: right;
    margin-right: 50px;
}


/*section시작*/
section {
    margin-bottom: 100px auto;
}
section form {
    height: auto;
}
section table {
    /*display: block;*/
    width: 1000px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid;*/
}
section table hr {
    border: solid 1px #cbb682;
}
section table span {
    color: #785f37;
    font-size: 12px;
}
section table td.num1 {
    width: 150px;
}
section table td.num2 {
    width: 280px;
}
section table .secTop input {
    display: block;
    
}
section .secTable table input.butId {
    width: 38%;
    background: #785f37;
    color: #e9dbbd;
    font-size: 12px;
}
section .secTable table input.butAdd {
    width: 8%;
    background: #785f37;
    color: #e9dbbd;
    font-size: 12px;
}
section .secButton {
    width: 100%;
    height: auto;
}
section .secButton input {
    display: block;
    width: 10%;
    height: 35px;
    margin: 100px auto;
    background: #785f37;
    color: #e9dbbd;
}

/*footer시작*/
footer {
    width: 100%;
    height: 150px;
    background: #181510;
}
footer .footer_content {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
footer img {
   /* display: block;*/
    width: 160px;
    height: 100px;
    float: left;
    margin-top: 20px;
}
footer ul {
    padding: 15px auto;
}
footer ul>li {
    width: 148.5px;
    float: left;
    color: #cbb682;
    font-size: 13px;
    text-align: center;
    margin: 30px 0;
}
footer ul>li>a {
    color: #cbb682;
    font-size: 13px;
}
footer address {
    width: 100%;
    height: 50px;
    color: #785f37;
    font-size: 12px;
    text-align: center;
}









