#wrap {
    width: 100%;
    height: auto;
    /*border: 1px solid;*/
    margin: 0 auto;
    font-family: "맑은 고";
}
#contents {
    width: 1200px;
    height: 900px;
    /*border: 1px solid;*/
    margin: 0 auto;
    color: #181510;
}


/*nav시작*/
nav {
    display: block;
    margin: 200px auto 100px;
}
nav span.txtLeft {
    display: block;
    float: left;
    font-size: 25px;
    margin-left: 50px;
    
}
nav span.txtRight {
    display: block;
    text-align: right;
    margin-right: 50px;
}

/*section시작*/
section {
    width: 1000px;
    height: auto;
    margin: 0 auto;
}
section hr {
    width: 1000px;
    border: solid 1px #cbb682;
    margin: 80px 0px;
}
section strong {
    display: block;
    color: #785f37;
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
}
section p {
    color: #181510;
    text-align: center;
}
section form {
    width: 25%;
    height: auto;
    margin: 0 auto;
}
section input.btnMain,input.btnLogin {
    width: 100px;
    height: 30px;
    background: #785f37;
    color: #e9dbbd;
    margin: 0 10px;
}
/*
section input[type=submit] {
    display: block;
    float: left;
    width: 100px;
    height: 30px;
    margin-left: 10px;
}*/


/*footer시작*/
footer {
    width: 100%;
    height: 150px;
    background: #181510;
}
footer .footer_content {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
footer img {
   /* display: block;*/
    width: 160px;
    height: 100px;
    float: left;
    margin-top: 20px;
}
footer ul {
    padding: 15px auto;
}
footer ul>li {
    width: 148.5px;
    float: left;
    color: #cbb682;
    font-size: 13px;
    text-align: center;
    margin: 30px 0;
}
footer ul>li>a {
    color: #cbb682;
    font-size: 13px;
}
footer address {
    width: 100%;
    height: 50px;
    color: #785f37;
    font-size: 12px;
    text-align: center;
}




