@charset "utf-8";

#loginWrap {
    width: 100%;
    height: auto;
    position: relative;
}
.modal {
  width: 100%;
  height: 100%;
  background: #0005;
  position: fixed;
    top: 0;
    left: 0;
  z-index: 100;
  display: none;
}
.header {
    width: 100%;
    height: 90px;
    max-height: 90px;
    background: #181510;
}
.contents {
    width: 800px;
    height: auto;
    margin: 150px auto;
}


/*input 아이디,비밀번호 빈값시 설정*/
.display-none {
  display: none;
}
.error {
  color: red;
}

/*modal 시작*/
.modal .findContent {
  width: 600px;
  height: auto;
  margin: 250px auto;
  background: #fff;
  position: relative;
}
.modal .findContent .popupClose {
  width: 40px;
  font-size: 40px;
  line-height: 30px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 0;
}
.modal .findContent .findIdPopUp {
  width: 500px;
  height: auto;
  margin:0 auto;
  padding: 50px 50px 80px;
}
.modal .findContent .findIdPopUp .title {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin: 30px 0 20px;
}
.modal .findContent .findIdPopUp form .name {
  width: 100%;
  height: 40px;
  text-indent: 10px;
  border: solid 1px #ccc;
  box-sizing: border-box;
}
.modal .findContent .findIdPopUp .findType .findEmail{
    display: inline-block;
    font-size: 15px;
    margin-top: 20px;
}
.modal .findContent .findIdPopUp .findType .findphoneNumber{
    display: inline-block;
    margin-left: 70px;
}
.modal .findContent .findIdPopUp .findContentPhone {
  margin-top: 20px;
}
.modal .findContent .findIdPopUp .findContentPhone .selectMember {
  width: 30%;
  height: 40px;
  border: solid 1px #ccc;
  box-sizing: border-box;
}
.modal .findContent .findIdPopUp .findContentPhone .phonLine {
  display: inline-block;
  background: #000;
  width: 0.8em;
  height: 1px;
  margin-bottom: 5px;
}
.modal .findContent .findIdPopUp .findContentPhone .phNumber{
  width: 30%;
  height: 40px;
  border: solid 1px #ccc;
  box-sizing: border-box;
}
.modal .findContent .findIdPopUp .findContentEmail {
  margin-top: 20px;
  display: none;
}
.modal .findContent .findIdPopUp .findContentEmail .selectMember {
  width: 30%;
  height: 40px;
  border: solid 1px #ccc;
  box-sizing: border-box;
  margin-left: 17px;
}

.modal .findContent .findIdPopUp .findContentEmail .emailAdress{
  width: 30%;
  height: 40px;
  border: solid 1px #ccc;
  box-sizing: border-box;
}

.modal .findContent .findIdPopUp .findConfirm {
  width: 100%;
  height: 50px;
  background: #222;
  border: solid 0px;
  box-sizing: border-box;
  color: #fff;
  font-size: 18px;
  margin-top: 30px;
}




/*contents - loginHeader 시작*/
.loginHedaer {
    text-align: center;
    margin: 50px 0;
}
.loginHedaer h2 {
  font-size: 30px;
  color: #865009;
  margin-bottom: 20px;
}
.loginHedaer p {
  font-size: 18px;
  line-height: 30px;
  color: #555;
}

/*contents - loginContent 시작*/
.loginContent {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
}
.loginContent .loginmenu {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.loginContent .loginmenu ul>li {
    width: 50%;
    text-align: center;
    line-height: 50px;
    float: left;
    border: solid 1px #D9D9D9;
    border-bottom: solid 1px #9F876B;
    box-sizing: border-box;
    background: #F6F6F6;
    font-size: 18px;
    color: #555;
}
.loginContent .loginmenu ul>li:hover {
    cursor: pointer;
}
.loginContent .loginmenu .on {
    color: #9F876B;
    background: #fff;
    border: solid 1px #9F876B;
    border-bottom: none;
}

/*contents - loginContent - loginType 시작*/
.loginContent .loginType {
    width: 100%;
    height: auto;
    margin: 50px 0;
    background: #fff;
}
.loginContent .loginType.nonMembers {
    display: none;
}

.loginInput, .loginBtn{
  width: 100%;
  height: 50px;
  font-size: 16px;
  border: solid 1px #ccc;
  box-sizing: border-box;
  text-indent: 10px;
  margin: 5px 0;
}
.idCheckboxWrap {
  display: block;
  margin: 20px 0;
  position: relative;
}
.idCheckboxWrap .idCheck {
  width: 20px;
  height: 20px;
}
.idCheckboxWrap label {
  position: absolute;
  top: 0px;
  text-indent: 10px;
}

.loginContent .loginType .loginForm input.goLogin {
  width: 100%;
  height: 50px;
  font-size: 18px;
  background: #9F876B;
  color: #EBE0C0;
  border: solid 0px;
  margin: 30px 0 15px;
  cursor: pointer;
}

.loginContent .loginType .findAccount {
  width: 100%;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #555;
  padding: 20px 0 30px 0;
  border-bottom: solid 1px #ccc;
}
.loginContent .findAccount {
  color: #555;
}
.loginContent .findAccount a:hover {
  text-decoration: underline;
}
.loginContent .findAccount span.bar {
  margin: 0 30px;
}
.loginContent .joinWrap {
  width: 100%;
  height: auto;
}
.loginContent .joinWrap .joinLabel{
  display: block;
  margin: 30px 0 20px;
}
.loginContent .joinWrap .joinBtn {
  width: 100%;
  height: 50px;
  border: solid 1px #ccc;
  box-sizing: border-box;
  background: #fff;
  font-size: 16px;
  font-weight: bold;
  color: #555;
  margin: 10px 0;
}
.loginContent .joinWrap button:hover {
  cursor: pointer;
  background: #F6F6F6;
  border: solid 1px #9F876B;
  box-sizing: border-box;
}



/*input태그 focus 하면 placehold 내용 사라짐*/
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    /* WebKit browsers */ color:transparent;
}
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */ color:transparent;
}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    /* Mozilla Firefox 19+ */ color:transparent;
}
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
    /* Internet Explorer 10+ */ color:transparent; }
