@charset "utf-8";

body{
    margin: 0;
    padding: 0;
    
}

#fullpage{
    height: 100vh;
    
}
#fullpage.animate{
    
}
section{
    height: 100vh;
}
section h1{
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 100vh;
    font-size: 10em;
    text-transform: uppercase;
}
#fullpage section:nth-child(1){
    background: #f00;
}
#fullpage section:nth-child(2){
    background: #555;
}
#fullpage section:nth-child(3){
    background: #ff0;
}
#fullpage section:nth-child(4){
    background: #00f;
}
#fullpage section:nth-child(5){
    background: #ccc;
}