@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

html,body {
    width: 100%;
    height: 100%
}

ul,ol,li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

header,nav,section,article,aside,footer,address {
    display: block;
}

img {
    border: 0px;
}